@media (min-width: 992px) {
    .requestor-showcase-header {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .requestor-showcase-featurette-title {
        font-size: 40px;
    }

    .requestor-showcase-header h1 {
        font-size: 60px;
        line-height: 1;
    }

    body {
        font-size: 16px;
    }
}

.action-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.action-panel .action {
    margin: auto;
}

.action-panel .result {
    margin-left: 10px;
}

.action-grid {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.action-grid .action {
    margin-bottom: 10px;
}

.action-grid .progress {
    margin-bottom: 10px;
}

.action-panel .result {
    /* nothing yet */
}

fieldset + fieldset {
    margin-top: 10px;
}

legend + .radio,
legend + .checkbox {
    margin-top: 0;
}

textarea[readonly].result {
    background-color: #fff;
    cursor: text;
}

h1[id] {
    padding-top: 20px;
    margin-top: 0;
}

.requestor-showcase-icon-bar {
    background-color: #fff;
}

.requestor-showcase-navbar-toggle {
    color: #e9e6eb;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #050505;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#050505 0,#272727 100%);
    background-image: -o-linear-gradient(top,#050505 0,#272727 100%);
    background-image: linear-gradient(to bottom,#050505 0,#272727 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050505', endColorstr='#272727', GradientType=0);
    background-repeat: repeat-x;
}

.requestor-showcase-nav {
    margin-bottom: 0;
    background-color: #fff;
}

.requestor-showcase-nav .navbar-brand, .requestor-showcase-nav .navbar-nav>li>a {
    font-weight: 500;
    color: #000;
}

.requestor-showcase-nav .navbar-nav>li>a:hover, .requestor-showcase-nav .navbar-nav>.active>a, .requestor-showcase-nav .navbar-nav>.active>a:hover {
    background-color: #f9f9f9;
}

.requestor-showcase-featurette-title {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 400;
    color: #333;
}

.requestor-showcase-header {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 24px;
    position: relative;
    padding: 30px 15px;
    color: #e9e6eb;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #050505;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#050505 0,#272727 100%);
    background-image: -o-linear-gradient(top,#050505 0,#272727 100%);
    background-image: linear-gradient(to bottom,#050505 0,#272727 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050505', endColorstr='#272727', GradientType=0);
    background-repeat: repeat-x;
}

.requestor-showcase-header h1 {
    font-size: 60px;
    line-height: 1;
    margin-top: 0;
    color: #fff;
}

.requestor-showcase-header p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
}

.requestor-showcase-section {
    margin-bottom: 50px;
}

.requestor-showcase-innersection {
    margin-bottom: 30px;
}

.requestor-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.requestor-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.requestor-callout p:last-child {
    margin-bottom: 0;
}

.requestor-callout-danger {
    border-left-color: #d9534f;
}

.requestor-callout-danger h4 {
    color: #d9534f;
}

.requestor-callout-warning {
    border-left-color: #f0ad4e;
}

.requestor-callout-warning h4 {
    color: #f0ad4e;
}

.requestor-callout-info {
    border-left-color: #5bc0de;
}

.requestor-callout-info h4 {
    color: #5bc0de;
}

.half-rule {
    width: 100px;
    margin: 40px auto;
}

.highlight {
    margin-bottom: 15px;
    background-color: #f9f2f4;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.highlight pre {
    padding: 10px 5px;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.highlight pre code {
    background-color: #f9f2f4;
    white-space: pre;
}